@charset "utf-8";
.container-fluid {
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-color: #97CEDB;
}
.container-fluid .container .row {
    background-color: #EEADB8;
}

tr td .btn.btn-primary {
    background-color: #97CEDB;
}
.container .row .col-lg-12 {
    background-color: #FFFFFF;
}
.row .col-lg-12 footer {
    background-image: -webkit-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    border-top: medium solid #439AA5;
    border-radius: 4px;
}
.row .col-lg-12 .row {
}
.col-lg-12 .row .col-lg-4 {
    background-color: #FFFFFF;
}
.col-lg-12 .row .col-lg-8 {
    background-image: -webkit-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 99.59%);
    background-image: -moz-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 99.59%);
    background-image: -o-linear-gradient(270deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 99.59%);
    background-image: linear-gradient(180deg,rgba(151,206,219,1.00) 0%,rgba(255,255,255,1.00) 99.59%);
}
